<div id="<%= dom_id creator %>">
  <p>
    <strong>First name:</strong>
    <%= creator.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= creator.last_name %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= creator.sex %>
  </p>

  <p>
    <strong>Student code:</strong>
    <%= creator.student_code %>
  </p>

</div>
