<div id="<%= dom_id contributor %>">
  <p>
    <strong>First name:</strong>
    <%= contributor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contributor.last_name %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= contributor.sex %>
  </p>

  <p>
    <strong>Professional title:</strong>
    <%= contributor.professional_title %>
  </p>

  <p>
    <strong>About:</strong>
    <%= contributor.about %>
  </p>

</div>
